*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html, body {
    background-image: url("../images/backimage.jpg");
    background-repeat: no-repeat;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    font-size: 62.5%;
    height: 100%;
    overflow: scroll;
 /*background-size: cover;
*/
}
@media (max-width: 768px) {
    html, body {
        font-size: 50%;
    }
}

svg {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
}

.svg-icon {
    cursor: pointer;
}
.svg-icon path {
    stroke: rgba(255, 255, 255, 0.9);
    fill: none;
    stroke-width: 1;
}

input, button {
    outline: none;
    border: none;
}

.cont {
    position: relative;
    height: 100%;
 /*   background-size: cover;*/
    overflow: scroll;

    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.demo {
/*    position: absolute;
    top: 0%;
    left: 0%;
    margin-left: -15rem;
    width: 30rem;
    height: 53rem;
    overflow: hidden;*/
}

/*
 ******* spinner
*/

.spinner {
    position: relative;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(146, 135, 187, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: linear-gradient(to bottom, rgba(146, 135, 187, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
    -webkit-transition: opacity 0.9s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transition: opacity 0.9s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transition: opacity 0.9s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transition: opacity 0.9s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25), -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    -webkit-transform: scale(1);
    transform: scale(1);
    display: none;
}
.spinner.inactive {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*
 ******* Login form
*/

.login {
    position: relative;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(146, 135, 187, 0.3) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: linear-gradient(to bottom, rgba(146, 135, 187, 0.3) 0%, rgba(0, 0, 0, 0.2) 100%);
    -webkit-transition: opacity 1.5s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.5);
    transition: opacity 1.5s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.5);
    transition: opacity 1.5s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.5);
    transition: opacity 1.5s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.5), -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    -webkit-transform: scale(1);
    transform: scale(1);
    display: none;
}
.login.inactive {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.login__form {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 0%;
    padding: 1.5rem 2.5rem;
    text-align: center;
}
.login__row {
    height: 5rem;
    padding-top: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.login__icon {
    margin-bottom: -0.4rem;
    margin-right: 0.5rem;
}
.login__icon.name path {
    stroke-dasharray: 73.50196075439453;
    stroke-dashoffset: 73.50196075439453;
    -webkit-animation: animatePath 2s 0.5s forwards;
    animation: animatePath 2s 0.5s forwards;
}
.login__icon.pass path {
    stroke-dasharray: 92.10662841796875;
    stroke-dashoffset: 92.10662841796875;
    -webkit-animation: animatePath 2s 0.5s forwards;
    animation: animatePath 2s 0.5s forwards;
}
.login__input {
    display: inline-block;
    width: 22rem;
    height: 100%;
    padding-left: 1.5rem;
    font-size: 2.5rem;
    background: transparent;
    color: #FDFCFD;
}
.login__submit {
    position: relative;
    width: 100%;
    height: 4rem;
    margin: 5rem 0 2.2rem;
    color: rgba(255, 255, 255, 0.8);
    background: #FF3366;
    font-size: 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
    transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
}
.login__submit:after {
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    width: 3rem;
    height: 3rem;
    border: 2px dotted #fff;
    border-radius: 50%;
    border-left: none;
    border-bottom: none;
    -webkit-transition: opacity 0.1s 0.4s;
    transition: opacity 0.1s 0.4s;
    opacity: 0;
}
.login__submit.processing {
    width: 4rem;
    font-size: 0;
}
.login__submit.processing:after {
    opacity: 1;
    -webkit-animation: rotate 0.5s 0.4s infinite linear;
    animation: rotate 0.5s 0.4s infinite linear;
}
.login__submit.success {
    -webkit-transition: opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
    transition: opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
    transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s;
    transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s, -webkit-transform 0.3s 0.1s ease-out;
    -webkit-transform: scale(30);
    transform: scale(30);
    opacity: 0.9;
}
.login__submit.success:after {
    -webkit-transition: opacity 0.1s 0s;
    transition: opacity 0.1s 0s;
    opacity: 0;
    -webkit-animation: none;
    animation: none;
}
.login__signup {
    font-size: 1.2rem;
    color: #ABA8AE;
}
.login__signup a {
    color: #fff;
    cursor: pointer;
}

.login__error {
    font-size: 1.2rem;
    color: #F00;
    font-weight: bold;
}

/*
 ******* Connected form
*/


.connected {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    -webkit-transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.68, -0.45, 0.465, 1.25);
    transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.68, -0.45, 0.465, 1.25);
    transition: opacity 0.1s, transform 0.3s cubic-bezier(0.68, -0.45, 0.465, 1.25);
    transition: opacity 0.1s, transform 0.3s cubic-bezier(0.68, -0.45, 0.465, 1.25), -webkit-transform 0.3s cubic-bezier(0.68, -0.45, 0.465, 1.25);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.connected.active {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.connected.active .connected__user-photo {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.connected.active .connected__meeting {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
.connected.active .connected__logout {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.connected__top {
    position: relative;
    height: 28rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 6rem 1.5rem 2rem;
    text-align: center;
}
.connected__bot {
    position: relative;
    height: 25rem;
    background: #fff;
}

.connected__bot .connected__message .connected__message__p {
    padding-top: 20px;
}

.connected__bot .connected__message {
    text-align:center;
    vertical-align: middle;
}

.connected__logout {
    position: absolute;
    bottom: 3.3rem;
    right: 3.3rem;
    width: 4.6rem;
    height: 4.6rem;
    margin-right: -2.3rem;
    margin-bottom: -2.3rem;
    background: #FC3768;
    color: #fff;
    font-size: 2rem;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: bottom 0.4s 0.1s, right 0.4s 0.1s, opacity 0.1s 0.7s, background-color 0.1s 0.7s, -webkit-transform 0.4s 0.4s;
    transition: bottom 0.4s 0.1s, right 0.4s 0.1s, opacity 0.1s 0.7s, background-color 0.1s 0.7s, -webkit-transform 0.4s 0.4s;
    transition: bottom 0.4s 0.1s, right 0.4s 0.1s, transform 0.4s 0.4s, opacity 0.1s 0.7s, background-color 0.1s 0.7s;
    transition: bottom 0.4s 0.1s, right 0.4s 0.1s, transform 0.4s 0.4s, opacity 0.1s 0.7s, background-color 0.1s 0.7s, -webkit-transform 0.4s 0.4s;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.connected__logout.clicked {
    bottom: 50%;
    right: 50%;
    -webkit-transform: scale(30) !important;
    transform: scale(30) !important;
    opacity: 0.9;
}
.connected__logout.clicked svg {
    opacity: 0;
}
.connected__logout-icon {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 50%;
    left: 50%;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
.connected__logout-icon path {
    stroke-width: 4px;
    stroke-dasharray: 64.36235046386719;
    stroke-dashoffset: 64.36235046386719;
    -webkit-animation: animatePath 0.5s 0.5s forwards;
    animation: animatePath 0.5s 0.5s forwards;
}

.ripple {
    position: absolute;
    width: 15rem;
    height: 15rem;
    margin-left: -7.5rem;
    margin-top: -7.5rem;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation: animRipple 0.4s;
    animation: animRipple 0.4s;
    border-radius: 50%;
}

@-webkit-keyframes animRipple {
    to {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
        opacity: 0;
    }
}

@keyframes animRipple {
    to {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
        opacity: 0;
    }
}
@-webkit-keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes animatePath {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes animatePath {
    to {
        stroke-dashoffset: 0;
    }
}

